.box {
  max-width: 50vw;
  min-width: 35vw;
  background-color: #fff;
  padding: 2em;
  border-radius: .3em;
}

.loading p {
  margin-top: 1em;
}

.fa-spin {
  animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@media (max-width: 575.98px) {
  .box {
    min-width: 50vw;
    max-width: 75vw;
  }

  .btn + .btn {
    margin-top: .5em;
  }
}
